@font-face {
  font-family: Ubuntu-Medium;
  src: url(./assets/fonts/Ubuntu-Medium.ttf);
}

@font-face {
  font-family: Ubuntu-reg;
  src: url(./assets/fonts/Ubuntu-Regular.ttf);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0px;
  font-family: Ubuntu-Medium;
}

.p-reg {
  font-family: Ubuntu-reg !important;
}
.num-p {
  /* font-family: Ubuntu-reg !important; */
  font-size: 18px;
  color: #ffffff70 !important;
}

.form-container{
    margin-top: 30px;
}

.res-circle{
    width: 50px;
    height: 50px;
}

@media only screen and (max-width: 1500px) {
    .presp{
        padding-top: 0px !important;
    }
    .form-container{
        margin-top: 0px;
    }
    .title-resp{
        padding-right: 100px !important;
        padding-left: 80px !important;
    }
    .res-circle{
        width: 40px;
        height: 40px;
    }
}
